.order-item {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
  align-items: start;
  gap: 30px;
  border: 1px solid #ff6b00;
  padding: 20px;
  margin: 30px 0px;
  font-size: 14px;
  color: #505050;
}

.order-item-food,
.order-item-name {
  font-weight: 600;
}

.order-item-name {
  margin-top: 30px;
  margin-bottom: 5px;
}

.order-item-address {
  margin-bottom: 10px;
}

.order-item select {
  background-color: #ffe8e4;
  border: 1px solid #ff6b00;
  width: max(10vw, 120px);
  padding: 10px;
  outline: none;
}

@media (max-width: 900px) {
  .order-item {
    grid-template-columns: 0.5fr 2fr 1fr;
    gap: 20px;
    padding: 15px;
    font-size: 13px;
  }

  .order-item-name {
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .order-item select {
    width: 120px;
  }
}

@media (max-width: 600px) {
  .order-item {
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 10px;
  }

  .order-item-name,
  .order-item-food,
  .order-item-address {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .order-item select {
    max-width: 70%;
  }
}
